extends layout

block content
  h1 Yeah You Did It !!!
  p Welcome to Thomas Dargon linux server !
  p Don't forget to reboot the server after pulling from github to see changes happen !!!!!
  p Love <3 
